<!DOCTYPE html>
<html lang="en">

  <%- include('../Navs/html') %>

<body>
    <%- include('../Navs/navbar') %>
    <!--Main Navigation--><br>

           <div class="container mb-5 mt-5">
                <div class="row">
                    <div class="col-md-12 mx-auto d-flex align-item-center text-center justify-content-center red-text font-weight-bold m-5 title-headers">
                        <span>YOU CAN BE SUCCESSFUL WITH YOUR SMALL BUSINESS</span>
                    </div>
                        <div class="col-md-4 ">
                            <img src="stylesheets/img/pexels-photo-1401796.jpeg" class="d-block w-100 img-fluid" alt="about image" height="300">
                        </div>
                        <div class="col-md-8"  style="font-size:14px;">
                            <p align="justify">The misery of success lies in our hand, Our decision determines whether we can attain success or remain stagnant. Determination is a very cogent factor in business. 
                                To succeed in business today, you need to be flexible and have good planning and organizational skills. Many people start a business thinking that they'll turn on their computers or open their doors and start making money, only to find that making money in a business is much more difficult than they thought. You can avoid this in your business 
                                ventures by taking your time and planning out all the necessary steps you need to achieve success.
                            </p>
                            
                              <ul>
                                <li><p align="justify"><strong>GET ORGANIZED:</strong> To be successful in business you need to be organized. Organization will help you complete tasks and stay on top of things to be done. A good way to do this is to create a to-do list each day. As you complete each item, check it off your list. This will ensure that you're not forgetting anything and you're completing all the tasks that are essential to the survival of your business.</li>
                                <li><p align="justify"><strong class="text-uppercase">Keep Detailed Records:</strong>
                                  All successful businesses keep detailed records. By keeping detailed records, you'll know where the business stands financially and what potential challenges you could be facing. Just knowing this gives you time to create strategies to overcome those challenges.
                                </li>
                                <li><p align="justify"><strong class="text-uppercase">Analyze Your Competition:</strong>
                                  Competition breeds the best results. To be successful, you can't be afraid to study and learn from your competitors. After all, they may be doing something right that you can implement in your business to make more money.(For related reading, see: How do I determine my company's competitive advantage? ) 
                                </li>
                                <p><a href="blog4">YOU TOO CAN BE KNOWN</a></p>

                                <li><p align="justify"><strong class="text-uppercase">Understand the Risks and Rewards:</strong>
                                  The key to being successful is taking calculated
                                  risks to help your business grow. A good question to ask is "What's the downside?" If you can answer this question, then you know what the worst-case scenario is. This knowledge will allow you to take the kinds of calculated risks that can generate tremendous rewards.
                                </li>
                                <li><p align="justify"><strong class="text-uppercase">Be Creative:</strong>
                                  Always be looking for ways to improve your business and to make it stand out from the competition. Recognize that you don't know everything and be open to new ideas and new approaches to your business.
                                </li>
                                <li><p align="justify"><strong class="text-uppercase">Stay Focused:</strong>
                                  The old saying, "Rome was not built in a day," applies here. Just because you open a business doesn't mean you're going to immediately start making money. It takes time to let people know who you are, so stay focused on achieving your short-term goals.
                                </li>

                                <p><a href="blog5">5 Reasons Small Businesses Fail—And How to Avoid Those Fatal Pitfalls</a></p>
                                
                                <li><p align="justify"><strong class="text-uppercase">Prepare to Make Sacrifices:</strong>
                                  The lead-up to starting a business is hard work, but after you open your doors, your work has just begun. In many cases, you have to put in more time than you would if you were working for someone else, which may mean spending less time with family and friends to be successful.
                                </li>
                                <li><p align="justify"><strong class="text-uppercase">Provide Great Service:</strong>
                                  There are many successful businesses that forget that providing great customer service is important. If you provide better service for your customers, they'll be more inclined to come to you the next time they need something instead of going to your competition.
                                </li>
                                <p><a href="blog3">40 TOP MOST FREQUENTLY ASKED JOB INTERVIEW QUESTION</a></p>

                                <li><p align="justify"><strong class="text-uppercase">Be Consistent:</strong>
                                  Consistency is a key component to making money in business. You have to consistently keep doing what is necessary to be successful day in and day out. This will create long-term positive habits that will help you make money in the long run.
                                  Whatever type of business you want to start, using these nine tips can help you be successful in your venture. (For related reading, see: Start Your Own Small Business .
                                  </li>
                                  
                                    <p class="float-right">references -- www.investopedia.com/articles/pf/08/make-money-in-business.asp</p>
                                </ul>
                        </div>
                    </div>
           </div>

    <div class="container">
      <div class="row">

        <div class="col-lg-12 mb-2 col-md-10 col-sm-12">
          <p class="font-weight-bold red-text text-center text-uppercase" style="font-size: 24px;">OTHER WONDERFUL BLOGS</p>
        </div>
         <div class="col-lg-3 col-sm-6 col-xs-8  mb-5">
                    <div class="card">
                      <div class="view overlay">
                        <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/img/pexels-photo.jpg" alt="Card image cap">
                        <a>
                          <div class="mask rgba-white-strong"></div>
                        </a>
                      </div>
                      <div class="card-body elegant-color white-text rounded-bottom">
                        <div class="card-body elegant-color white-text rounded-bottom">
                            <a href="/blog5" class="white-text"><h6 class="card-title text-uppercase text-center">5 Reasons Small Businesses Fail—And How to Avoid Those Fatal Pitfalls</h6></a>
                          </div>
                           </div>
                    </div>
          </div>

        <div class="col-lg-3 col-sm-6 col-xs-8  mb-5">
              <div class="card">
                      <div class="view overlay">
                        <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/img/pexels-photo-1181675.jpeg" alt="Card image cap">
                        <a>
                          <div class="mask rgba-white-strong"></div>
                        </a>
                      </div>
                      <div class="card-body elegant-color white-text rounded-bottom">
                      
                        <a href="/blog1" class="white-text"> <h6 class="card-title text-center">HOW TO DEVELOP YOUR OWN WEBSITES</h6></a>
                      
                      </div>
                    
                    </div>
              </div>

                <div class="col-lg-3 col-sm-6  col-xs-8 mb-5">
                    <div class="card">
                      <div class="view overlay">
                        <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/img/pexels-photo-1437540.jpeg" alt="Card image cap">
                        <a>
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>
                      <div class="card-body elegant-color white-text rounded-bottom">
                          <div class="card-body elegant-color white-text rounded-bottom">
                              <a href="/blog3" class="white-text"><h6 class="card-title text-uppercase text-center">40 TOP MOST FREQUENTLY ASKED JOB INTERVIEW QUESTION</h6></a>
                             </div> </div>  
                    </div>
                  </div>
        

        <div class="col-lg-3 col-sm-6  col-xs-8 mb-5">
             <div class="card">
              <div class="view overlay">
                <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/img/pexels-photo-1437540.jpeg" alt="Card image cap">
                <a>
                  <div class="mask rgba-white-strong"></div>
                </a>
              </div>
              <div class="card-body elegant-color white-text rounded-bottom">
                  <div class="card-body elegant-color white-text rounded-bottom">
                      <a href="/blog4" class="white-text"><h6 class="card-title text-uppercase text-center">you to can be known </h6></a>
                    </div> </div>
            </div>
          </div>

        </div>
      </div>

          <%- include('../Navs/comment') %>

        <%- include('../Navs/advert') %>



              <%- include('../Navs/footer') %>