<!DOCTYPE html>
<html lang="en">

  <%- include('../Navs/html') %>
<body>
 
    <%- include('../Navs/navbar') %>
    <!--Main Navigation--><br>

           <div class="container mb-5 mt-5">
                <div class="row">
                    <div class="col-md-12 mx-auto d-flex align-item-center text-center justify-content-center red-text font-weight-bold m-3 title-header">
                        <span>HOW TO DEVELOP YOUR OWN WEBSITES</span>
                    </div>
                        <div class="col-md-4 ">
                            <img src="stylesheets/img/pexels-photo-1181675.jpeg" class="d-block w-100 img-fluid" alt="about image" height="300">
                        </div>
                        <div class="col-md-8"  style="font-size:14px;">
                            <p align="justify">Many Businesses have been successful today with the help of social media and publication on websites. Virtual marketing has taken over this modernized days marketing system.<br>
                              Facebook, Twitter, Instagram, Google and the likes are wonderful and best rated websites(softwares) in the world. It all started 
                              small. Though, programming language(s) used in creating those websites might differs, but they 
                              all get to their goals and destination called "success".
                            </p>
                            <p align="justify"> You too can own a world recommended website that change lives positively. 
                              All you need to do is simply get the knowledge of how it's been created before creating one. <br>
                              "<i>KNOWLEDE is the main key to successful website."</i> check out our blog on how you can be known by <a href="/blog4" class="blue-text">clicking here</a><br>
                           </p>
                            <p><a href="blog2">YOU CAN BE SUCCESSFUL WITH YOUR SMALL BUSINESS</a></p>
                            
                           <span class="text-center mx-auto d-flex align-item-center justify-content-center font-weight-bold">Let's get started</span>
                           <p>To build your website as a beginner, you need to learn and understand this basic tools below</p>
                           <ul>
                             <li>HTML (HyperText Markup Language): which apparently is the first basic language you must learn before you create your beautiful and stunning website. At w3schools.com, you can find complete reference about the tags, 
                               attributes, events, color names, entities, character-set, URL encoding, language codes, HTTP messages and more.
                             </li><br>
                             <li>CSS (Cascading Style Sheet): This is a stylesheet language that describe the presentation of an HTML or (XML) document; CSS describe 
                               how elements must be rendered on screen, on paper, or in other media.
                             </li><br>
                             <li>Other tools needed in building a professional website are languages like JAVASCRIPT, PYTHON etc.</li>
                             <li>Note: To be a professional Web Developer, Kindly send your request through the Feedback Section or Send Email to Sheygun@aol.com</li>
                           </ul>
                        </div>
                        <div class="col-md-12">
                            
                        </div>
                    </div>
           </div>

    <div class="container">
      <div class="row">
              <div class="col-lg-12 mb-2 col-md-10 col-sm-12">
                <p class="font-weight-bold red-text text-center text-uppercase" style="font-size: 24px;">OTHER WONDERFUL BLOGS</p>
              </div>
                <div class="col-lg-3 col-sm-6 col-xs-8  mb-5">
                    <div class="card">
                      <div class="view overlay">
                        <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/img/pexels-photo.jpg" alt="Card image cap">
                        <a>
                          <div class="mask rgba-white-strong"></div>
                        </a>
                      </div>
                      <div class="card-body elegant-color white-text rounded-bottom">
                        <h6 class="card-title text-uppercase text-center">5 Reasons Small Businesses Fail—And How to Avoid Those Fatal Pitfalls</h6>
                                    <hr class="hr-light">
                                    <p class="card-text white-text mb-4">I’d wager failure is pretty high up on the list. Especially if you’re a small business owner. 
                                      As you know, it’s great to be able to run your own business...</p>
                                    <a href="/blog5" class="white-text d-flex justify-content-end"><h5>Read more <i class="fa fa-angle-double-right"></i></h5></a>
                      </div>
                </div>
              </div>

          <div class="col-lg-3 col-sm-6  col-xs-8 mb-5">
              <div class="card">
                <div class="view overlay">
                    <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/img/pexels-photo-1401796.jpeg" alt="Card image cap">
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                  <div class="card-body elegant-color white-text rounded-bottom">
                    <h6 class="card-title text-center text-uppercase">YOU CAN BE SUCCESSFUL WITH YOUR SMALL BUSINESS</h6>
                    <hr class="hr-light">
                    <p class="card-text white-text mb-4">The misery of success lies in our hand, Our decision determines whether we can attain success or remain stagnant. Determination is a very cogent factor in business and ...</p>
                    <a href="/blog2" class="white-text d-flex justify-content-end"><h5>Read more <i class="fa fa-angle-double-right"></i></h5></a>
                  </div>

              </div>
          </div>

        <div class="col-lg-3 col-sm-6  col-xs-8 mb-5">
            <div class="card">
              <div class="view overlay">
                <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/img/pexels-photo-1437540.jpeg" alt="Card image cap">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <div class="card-body elegant-color white-text rounded-bottom">
                <h6 class="card-title text-center text-uppercase">40 TOP MOST FREQUENTLY ASKED JOB INTERVIEW QUESTION</h6>
                <hr class="hr-light">
                <p class="text-editting card-text white-text mb-4">Job interviews can be stressful. The best way to prepare for a job interview is to anticipate—and prepare for—the questions you are most likely to be asked.
                    So instead of stumbling through a job interview trying to answer questions you didn’t anticipate, check out this list...</p>
                <a href="/blog3" class="white-text d-flex justify-content-end"><h5>Read more <i class="fa fa-angle-double-right"></i></h5></a>
              </div>
            </div>
          </div>
        

        <div class="col-lg-3 col-sm-6  col-xs-8 mb-5"> 
                  <div class="card">
                    <div class="view overlay">
                      <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/img/pexels-photo-1437540.jpeg" alt="Card image cap">
                      <a>
                        <div class="mask rgba-white-strong"></div>
                      </a>
                    </div>
                    <div class="card-body elegant-color white-text rounded-bottom">
                      <h6 class="card-title text-uppercase">you to can be known </h6>
                      <hr class="hr-light">
                      <p class="card-text white-text mb-4">Popular successful People will say, <i>"If <strong>GOOGLE</strong> doesn't recognized you, i can't make business with you"</i>. This statements simply means you have to make yourself known to the World. How can ...</p>
                      <a href="/blog4" class="white-text d-flex justify-content-end"><h5>Read more <i class="fa fa-angle-double-right"></i></h5></a>
                    </div>
                  
                  </div>
          </div>

        </div>
      </div>

        <div class="container">
            <div class="row">
              <div class="col-md-5 mx-auto">
                  <div class="align-center justify-content-center d-flex brown p-4 ">
                      <div class=" font-weight-bold white-text text-center" style="font-size:14px;"> OTHER STORIES YOU MAY LIKE </div> 
              
                  </div>
                </div>
              <div class="col-md-12">
                <table class="table">
                  <tbody>
                    <tr class="text-center">
                      <td><a href="/blog5" class="red-text font-weight-bold text-capitalize" style="font-size:15px;">5 Reasons Small Businesses Fail—And How to Avoid Those Fatal Pitfalls</a></td>
                    </tr>
      
                    <tr class="text-center">
                        <td><a href="/blog2" class="red-text font-weight-bold text-capitalize" style="font-size:15px;">you can be successful with your small business</a></td>
                    </tr>
      
                    <tr class="text-center">
                        <td><a href="/blog3" class="red-text font-weight-bold text-capitalize" style="font-size:15px;">40 top most frequently asked job interview question</a></td>
                    </tr>
      
                    <tr class="text-center">
                        <td><a href="/blog4" class="red-text font-weight-bold text-capitalize" style="font-size:15px;">You To Can Be Known</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

         
          <%- include('../Navs/comment') %>

        <%- include('../Navs/advert') %>
   

              <%- include('../Navs/footer') %>