<!DOCTYPE html>
<html lang="en">

  <%- include('../Navs/html') %>

<body>
    <%- include('../Navs/navbar') %>
    <!--Main Navigation--><br>

           <div class="container mb-5 mt-5">
                <div class="row">
                    <div class="col-md-12 mx-auto d-flex align-item-center text-center justify-content-center red-text font-weight-bold m-3 title-header">
                        <span>YOU TOO CAN BE KNOWN</span>
                    </div>
                        <div class="col-md-4 ">
                            <img src="stylesheets/img/pexels-photo-1437540.jpeg" class="d-block w-100 img-fluid" alt="about image" height="300">
                        </div>
                        <div class="col-md-8"  style="font-size:13px;">
                            <p align="justify">Popular successful People will say, "If GOOGLE doesn't recognized you, i can't make business with you". This statements simply means you have to make yourself known to the World. 
                              Here's some good news. You can be a millionaire within a month or probably within a year. As you work harder to climb up to successful level, you'll find that it get easier to be programmer.<br>
                              We should do what takes us out of our comfort zones, let's be like David. Finding a Giant and slaying it. Then success comes after that, you name start growing, people start noticing you, you start to 
                              become people's mentor. Finally you are getting to the stage of which you can be known.
                            </p>
                            <p align="justify"> Faith is putting all your eggs in God's basket. If a man stands with his right foot on a hot stove and his left foot in a freezer, some statisticians would assert that, on the average, 
                              he is comfortable.
                            </p>
                            <span class="text-center mx-auto d-flex align-item-center justify-content-center font-weight-bold">Steps to get Known</span>
                           <ul>
                             <li><strong>START SMALL:</strong> As a student or as an unknown entrepreneurer, you can never attain success until you start small. A seed dies first before it germinate. Success doesn't come big</li><br>
                             <li><strong>GET INDEPTH KNOWLEDGE OF A SPECIFIC VOCATION: If you are good at every thing or probably you are good at nothing, and it looks like success isn't coming your way, this is the answer 
                               <i><strong>"TRY ONE VOCATION"</strong>, <strong>"BUILD ON IT"</strong>, <strong>PUT ALL YOUR EFFORTS</strong>, <strong>PLACE IT IN GOD'S HAND</strong> then check out the success that appears.</i>
                             </strong></li><br>
                             <li><strong>GET THESE IDEA ABOUT SUCCESS:</strong> </li>
                             <p><a href="blog2">YOU CAN BE SUCCESSFUL WITH YOUR SMALL BUSINESS</a></p>
                              <ul>
                                <li>As long as you are satisfied that you've done your best, then that is all you have to do</li>
                                <li>The best way to please yourself is to know you've done the best for yourself that you can do</li>
                                <li>Clothing is not important, Houses, cars, and bank account - none of these things are important. You know what is important? KNOWLEDGE and HARD WORK. The abilities that allow you to acquire those things.</li>
                                <li>You want to know what's important? Here is how you figure it out. Just let someone take all the things away from you like money, cars, houses. They can take them, but you can get them back if you have the appropriate knowledge and 
                                  learn to use it. But if someone take away your knowledge and your willingness to give your best, you've automatically lost everything that is important - and you won't get them back
                                </li>
                                <p class="float-right">Sonya Carson</p>
                              </ul>
                           </ul>
                        </div>
                        <div class="col-md-12">
                            
                        </div>
                    </div>
           </div>

    <div class="container">
      <div class="row">
          <div class="col-lg-12 mb-2 col-md-10 col-sm-12">
              <p class="font-weight-bold red-text text-center text-uppercase" style="font-size: 24px;">OTHER WONDERFUL BLOGS</p>
            </div>
          <div class="col-lg-3 col-sm-6  col-xs-8 mb-5">
                  <div class="card">
                    <div class="view overlay">
                      <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/img/pexels-photo-1437540.jpeg" alt="Card image cap">
                      <a>
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>
                    <div class="card-body elegant-color white-text rounded-bottom">
                      <h6 class="card-title text-center text-uppercase">40 TOP MOST FREQUENTLY ASKED JOB INTERVIEW QUESTION</h6>
                      <hr class="hr-light">
                      <p class="text-editting card-text white-text mb-4">Job interviews can be stressful. The best way to prepare for a job interview is to anticipate—and prepare for—the questions you are most likely to be asked.
                          So instead of stumbling through a job interview trying to answer questions you didn’t anticipate, check out this list...</p>
                      <a href="/blog3" class="white-text d-flex justify-content-end"><h5>Read more <i class="fa fa-angle-double-right"></i></h5></a>
                  
                    </div>
                  </div>
            </div>

        <div class="col-lg-3 col-sm-6 col-xs-8  mb-5">

                <div class="card">
                  <div class="view overlay">
                    <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/img/pexels-photo-1181675.jpeg" alt="Card image cap">
                    <a>
                      <div class="mask rgba-white-strong"></div>
                    </a>
                  </div>
                  <div class="card-body elegant-color white-text rounded-bottom">
                    <h6 class="card-title">HOW TO DEVELOP YOUR OWN WEBSITES</h6>
                    <hr class="hr-light">
                    <p class="card-text white-text mb-4">Many Businesses have been successful today with the help of social media and publication on websites. Virtual marketing has taken over this modernized days marketing system. All you need ...</p>
                    <a href="/blog1" class="white-text d-flex justify-content-end"><h5>Read more <i class="fa fa-angle-double-right"></i></h5></a>
                  </div>
                </div>
         </div>

        <div class="col-lg-3 col-sm-6  col-xs-8 mb-5">
                      <div class="card">
                      <div class="view overlay">
                      <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/img/pexels-photo-1401796.jpeg" alt="Card image cap">
                      <a>
                          <div class="mask rgba-white-slight"></div>
                      </a>
                      </div>
                      <div class="card-body elegant-color white-text rounded-bottom">
                      <h6 class="card-title text-center text-uppercase">YOU CAN BE SUCCESSFUL WITH YOUR SMALL BUSINESS</h6>
                      <hr class="hr-light">
                      <p class="card-text white-text mb-4">The misery of success lies in our hand, Our decision determines whether we can attain success or remain stagnant. Determination is a very cogent factor in business and ...</p>
                      <a href="/blog2" class="white-text d-flex justify-content-end"><h5>Read more <i class="fa fa-angle-double-right"></i></h5></a>
                      </div>
                  </div>
         </div>

                <div class="col-lg-3 col-sm-6 col-xs-8  mb-5">
                          <div class="card">
                              <div class="view overlay">
                              <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/img/pexels-photo.jpg" alt="Card image cap">
                              <a>
                                  <div class="mask rgba-white-strong"></div>
                              </a>
                              </div>
                              <div class="card-body elegant-color white-text rounded-bottom">
                              <h6 class="card-title text-uppercase text-center">5 Reasons Small Businesses Fail—And How to Avoid Those Fatal Pitfalls</h6>
                              <hr class="hr-light">
                              <p class="card-text white-text mb-4">I’d wager failure is pretty high up on the list. Especially if you’re a small business owner. 
                                As you know, it’s great to be able to run your own business...</p>
                              <a href="/blog5" class="white-text d-flex justify-content-end"><h5>Read more <i class="fa fa-angle-double-right"></i></h5></a>
                              </div>
                          </div>
                  </div>

                    </div></div>
                    <div class="container">
                        <div class="row">
                          <div class="col-md-5 mx-auto">
                              <div class="align-center justify-content-center d-flex brown p-4 ">
                                  <div class=" font-weight-bold white-text text-center title-header">OTHER STORIES YOU MAY LIKE </div> 
                          
                              </div>
                            </div>
                          <div class="col-md-12">
                            <table class="table">
                              <tbody>
                                <tr class="text-center">
                                  <td><a href="/blog5" class="red-text font-weight-bold text-capitalize" style="font-size:15px;">5 Reasons Small Businesses Fail—And How to Avoid Those Fatal Pitfalls</a></td>
                                </tr>
                  
                                <tr class="text-center">
                                    <td><a href="/blog1" class="red-text font-weight-bold text-capitalize" style="font-size:15px;">How to develop your own website</a></td>
                                </tr>
                  
                                <tr class="text-center">
                                    <td><a href="/blog2" class="red-text font-weight-bold text-capitalize" style="font-size:15px;">you can be successful with your small business</a></td>
                                </tr>
                  
                                <tr class="text-center">
                                    <td><a href="/blog3" class="red-text font-weight-bold text-capitalize" style="font-size:15px;">40 top most frequently asked job interview question</a></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>

                      <%- include('../Navs/comment') %>

                    <%- include('../Navs/advert') %>
                


              <%- include('../Navs/footer') %>