<!DOCTYPE html>
<html lang="en">

  <%- include('../Navs/html') %>

<body>
    <!--Main Navigation-->
    <%- include('../Navs/navbar') %>

    <header>
        <div class="view view-home intro-2">
            <div class="full-bg-img">
                <div class="mask rgba-black-strong flex-center">
                    <div class="container text-center white-text">
                        <div class="white-text text-center wow fadeInUp">
                            <h2 class="display-3 font-weight-bold mt-5 samdos-name">SAMDOS EXPRESS</h2>
                            <h5 class="help p-3 rgba-black-light">LET'S HELP YOU PLAN AND DEVELOP YOUR MOTIVE ON BUSINESS</h5>
                            <br>
                            <p class="market-text">Thinking of starting a new business?, Looking for how to go about <strong>ONLINE </strong>business?, Do you need 
                            a platform  whereby you can start your <strong>e-marketing business idea?</strong>,Then Let's help you in acheiving your dreams</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <div class="container">
        <div class=" text-center py-5" id="blog">
           
               
                <div class="row">
                      <div class="col-md-12 mx-auto "> 
                        <div class="col-md-12 mx-auto"><p class="font-weight-bold brown-text text-capitalize title-header m-5 h2">we can do a lot of things</p> </div>
                          <div class="col-md-12 mx-auto mb-5">
                            <p align="justify" style="font-size:15px">On our website, we try to give you an insight into <strong>Computer Business</strong> and <strong>E-Marketing</strong>, and the opportunities that we can provide to help the society.
                              The design, coding and testing of this wonderful programs and softwares is a complex task - and one needing a highly trained workforce. Getting used to us, makes things easier for those that really has the passion and vision of 
                              aiming at the top through the digital skills. I hope that you find the information on our website useful and that it encourages you to make business with us. </p>
                    </div>

                         <div class="col-md-12 mx-auto"><p class="font-weight-bold px-lg-4 brown-text text-capitalize title-header my-5">what we do best</p> </div>
                          <div class="col-md-12 mx-auto">
                            <p align="justify" style="font-size:15px">So far, we've satisfied our clients and customers with stunning websites at the lowest cost they can afford, their acheivement in life with the help of digital skills is our first priority. 
                              We develop Websites, Softwares, Mobile Apps, Desktop Apps e.t.c. with the best rated programming languages in the world of Computer Science. Languages like <strong> HTML5, CSS5, XML, JAVA, JAVASCRIPT, PHP, PYTHON, NODE JS, EXPRESS JS, MONGOOSE DATABASE, MLAB, MYSQL, C, C#, C++, GO, SCALA</strong> and the likes.
                            </p>
                    </div>                   
                    <!-- <div class="col-md-12 align-item-center justify-content-center d-flex my-5">
                        <ul class="list-group ">
                            <li class="list-group-item list-group-item black white-text get-text p-4" style="border: 3px solid white; border-radius: 30px;">FREE DEFAULT WEBSITE FOR STARTERS</li>
                            <li class="list-group-item list-group-item black white-text get-text p-4" style="border: 3px solid white; border-radius: 30px;">DATABASE MANAGEMMENT</li>
                            <li class="list-group-item list-group-item black white-text get-text p-4" style="border: 3px solid white; border-radius: 30px;">AFFORDABLE MAINTENANCE</li>
                            <li class="list-group-item list-group-item black white-text get-text p-4" style="border: 3px solid white; border-radius: 30px;">PROFESSIONAL HOSTING AND DOMAIN</li>
                            <li class="list-group-item list-group-item black white-text get-text p-4" style="border: 3px solid white; border-radius: 30px;">SOCIAL MEDIA AWARENESS</li>
                            <li class="list-group-item list-group-item black white-text get-text p-4" style="border: 3px solid white; border-radius: 30px;">e-MARKETING SCHEME</li>
                            <li class="list-group-item list-group-item black white-text get-text p-4" style="border: 3px solid white; border-radius: 30px;">e-BUSINESS SCHEME</li>
                            <li class="list-group-item list-group-item black white-text get-text p-4" style="border: 3px solid white; border-radius: 30px;">FREE DEFAULT GRAPHIC DESIGNS FOR YOUR WEBSITE</li>  
                        </ul>
                  </div> -->


                </div>
            </div>
          
    </div>
    </div>






    <div class="container">

        <div class="row">
          <div class="col-md-4">
            <div class="jumbotron">tope</div>
          </div>
          <div class="col-md-4">
            tope
            </div>
            <div class="col-md-4">
            tope
              </div>
        </div>
      </div>
      <div class="jumbotron">
      <button class="btn btn-info mx-auto align-item-center justify-content-center d-flex" style="font-size:20px;">
       <a href="/error" class="white-text"><strong> GET STARTED NOW </strong></a>
      </button>
    </div>
      



    
  

      








      <div class="row">
                 <div class="col-lg-12 mb-2 col-md-10 col-sm-12">
                    <p class="font-weight-bold red-text text-center text-uppercase" style="font-size: 24px;">WONDERFUL STORIES</p>
                  </div>

                  <div class="col-lg-3 col-sm-6 col-xs-8  mb-5">
                            <div class="card">
                              <div class="view overlay">
                                <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/img/pexels-photo.jpg" alt="Card image cap">
                                <a>
                                  <div class="mask rgba-white-strong"></div>
                                </a>
                              </div>
                              <div class="card-body elegant-color white-text rounded-bottom">
                                <h6 class="card-title text-uppercase text-center" style="font-size:14px">5 Reasons Small Businesses Fail—And How to Avoid Those Fatal Pitfalls</h6>
                                            <hr class="hr-light">
                                            <p class="card-text white-text mb-4"style="font-size:12px">I’d wager failure is pretty high up on the list. Especially if you’re a small business owner. 
                                              As you know, it’s great to be able to run your own business...</p>
                                            <a href="/blog5" class="white-text d-flex justify-content-end"><h5>Read more <i class="fa fa-angle-double-right"></i></h5></a>
                              </div>
                            </div>
                    </div>
              
                <div class="col-lg-3 col-sm-6  col-xs-8 mb-5">
                      <div class="card">
                        <div class="view overlay">
                          <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/img/pexels-photo-1401796.jpeg" alt="Card image cap">
                          <a>
                            <div class="mask rgba-white-slight"></div>
                          </a>
                        </div>
                      <div class="card-body elegant-color white-text rounded-bottom">
                        <h6 class="card-title text-center text-uppercase" style="font-size:14px">YOU CAN BE SUCCESSFUL WITH YOUR SMALL BUSINESS</h6>
                        <hr class="hr-light">
                        <p class="card-text white-text mb-4"style="font-size:12px">The misery of success lies in our hand, Our decision determines whether we can attain success or remain stagnant. Determination is a very cogent factor in business and ...</p>
                        <a href="/blog2" class="white-text d-flex justify-content-end"><h5>Read more <i class="fa fa-angle-double-right"></i></h5></a>
                      </div>
                    </div>
              </div>
              
                      <div class="col-lg-3 col-sm-6  col-xs-8 mb-5">
                              <div class="card">
                                <div class="view overlay">
                                  <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/img/pexels-photo-1437540.jpeg" alt="Card image cap">
                                  <a>
                                    <div class="mask rgba-white-slight"></div>
                                  </a>
                                </div>
                                <div class="card-body elegant-color white-text rounded-bottom">
                                  <h6 class="card-title text-center text-uppercase"style="font-size:14px">40 TOP MOST FREQUENTLY ASKED JOB INTERVIEW QUESTION</h6>
                                  <hr class="hr-light">
                                  <p class="text-editting card-text white-text mb-4"style="font-size:12px">Job interviews can be stressful. The best way to prepare for a job interview is to anticipate—and prepare for—the questions you are most likely to be asked.
                                      So instead of stumbling through a job interview trying to answer questions you didn’t anticipate, check out this list...</p>
                             
                                  <a href="/blog3" class="white-text d-flex justify-content-end"><h5>Read more <i class="fa fa-angle-double-right"></i></h5></a>
                              
                                </div>
                              
                              </div>
                        </div>
                      
              
                      <div class="col-lg-3 col-sm-6  col-xs-8 mb-5">
                                <div class="card">
                                  <div class="view overlay">
                                    <img class="card-img-top card-resize-sheygun img-fluid" src="stylesheets/img/pexels-photo-1437540.jpeg" alt="Card image cap">
                                    <a>
                                      <div class="mask rgba-white-strong"></div>
                                    </a>
                                  </div>
                                  <div class="card-body elegant-color white-text rounded-bottom">
                                    <h6 class="card-title text-uppercase"style="font-size:14px">you to can be known </h6>
                                    <hr class="hr-light">
                                    <p class="card-text white-text mb-4"style="font-size:12px">Popular successful People will say, <i>"If <strong>GOOGLE</strong> doesn't recognized you, i can't make business with you"</i>. This statements simply means you have to make yourself known to the World. How can ...</p>
                                    <a href="/blog4" class="white-text d-flex justify-content-end"><h5>Read more <i class="fa fa-angle-double-right"></i></h5></a>
                                  </div>
                                </div>
                        </div>


                </div>
          
                  <div class="container">
                  <div class="d-flex align-item-center h-100 justify-content-center">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination pagination-circle pg-blue">
                        
                        <li class="page-item disabled"><a class="page-link">Prev</a></li>
                        <li class="page-item disabled">
                          <a class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                          </a>
                        </li>
                        <li class="page-item active"><a class="page-link">1</a></li>
                        <li class="page-item">
                          <a class="page-link" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                          </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li><i id="gallery"></i>
                      </ul>
                    </nav>
                  </div>
                </div>

          </div> -->


    <div class="container">
      <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="align-center justify-content-center d-flex brown p-4 ">
                <div class=" font-weight-bold white-text text-center title-header">RECENT STORIES</div> 
        
            </div>
          </div>
        <div class="col-md-12">
          <table class="table">
            <tbody>
              <tr class="text-center">
                <td><a href="/blog5" class="red-text font-weight-bold text-capitalize" style="font-size:15px;">5 Reasons Small Businesses Fail—And How to Avoid Those Fatal Pitfalls</a></td>
              </tr>

              <tr class="text-center">
                  <td><a href="/blog1" class="red-text font-weight-bold text-capitalize" style="font-size:15px;">How to develop your own website</a></td>
              </tr>

              <tr class="text-center">
                  <td><a href="/blog2" class="red-text font-weight-bold text-capitalize" style="font-size:15px;">you can be successful with your small business</a></td>
              </tr>

              <tr class="text-center">
                  <td><a href="/blog3" class="red-text font-weight-bold text-capitalize" style="font-size:15px;">40 top most frequently asked job interview question</a></td>
              </tr>

              <tr class="text-center">
                  <td><a href="/blog4" class="red-text font-weight-bold text-capitalize" style="font-size:15px;">You To Can Be Known</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

      <!-- ..............riddles ............. -->

    <div class="container ">
      <div class="row">
        <div class="col-md-12">
          <div class="align-center justify-content-center d-flex brown p-4 font-weight-bold white-text text-center title-header">RIDDLES FOR THE WEEKS <i class="fa fa-question white-text"></i></div> 
        </div>
        <div class="col-md-12">
          <div class="align-center justify-content-center d-flex m-3 font-weight-bold black-text text-center">PLAY AND WIN RECHARGE CARDS ACCROSS ALL NETWORKS <i class="fa fa-question white-text"></i></div> 
          <p class="red-text">Follow the instuctions below on how to play</p>
          <ol style="font-size:13px">
            <li>Get at least Three (3) questions Right</li>
            <li>Check for the questions' deadline</li>
            <li>Send your answers through the Feedback Section</li>
            <ul>
              <li>Your Surname First</li>
              <li>Other names</li>
              <li>Your Email</li>
              <li>In the Message Session, Provide your answers with Your mobile number and the Network provider, then Submit</li>
            </ul>
            <li>Wait for the deadline for answers to be posted</li>
            <li>Check your name at the Top 5. If listed, congrats</li>
            <li>Kindly note, Airtime is being transfer to the number you supply</li>
          </ol>
          <p class="red-text">Note: The Feedback session is unavailable at the moment, kindly forward your details to "Sheygun@aol.com"</p>
        </div>
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th style="width: 80%; font-weight: bold;">QUESTIONS</th>
                <th  style="width: 20%; font-weight: bold;">ANSWERS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="width: 80%; font-size: 14px;">Why didn't the skeleton cross the road?</td>
                <td  style="width: 20%;"></td>
              </tr>
              <tr>
                <td style="width: 80%; font-size: 14px;">What is a pirates favorite letter?</td>
                <td  style="width: 20%;"></td>
              </tr>
              <tr>
                <td style="width: 80%; font-size: 14px;">Why can't your nose be 12 inches long?</td>
                <td  style="width: 20%;"></td>
              </tr>
              <tr>
                <td style="width: 80%; font-size: 14px;">What is green and smells like blue paints?</td>
                <td  style="width: 20%;"></td>
              </tr>
              <tr>
                <td style="width: 80%; font-size: 14px;">What has a head, a tail, is brown, and has no legs?</td>
                <td  style="width: 20%;"></td>
              </tr>
            </tbody>
          </table>
          <p>Deadline -- 24th of December, 2018</p>
          </div>

          <div class="col-md-12">
            <div class="align-center justify-content-center d-flex brown p-3 m-3 font-weight-bold white-text text-center title-header">LAST WEEK TOP 5 WINNERS <i class="fa fa-question white-text"></i></div> 
            <table class="table">
              <thead>
                <tr>
                  <td style="font-size:12px">Olabayo Segun Emmanuel</td>
                </tr>
                <tr>
                  <td style="font-size:12px">Chuck Isaiah</td>
                </tr>
                <tr>
                  <td style="font-size:12px">Adewale Jacob Opeyemi</td>
                </tr>
                <tr>
                  <td style="font-size:12px">Bukola Hannah</td>
                </tr>
                <tr>
                  <td style="font-size:12px">Ibukun Temitope Samuel</td>
                </tr>
              </thead>
            </table>
            <p class="red-text">Best Regards,</p>
          </div>
        </div>
      </div>

      <%- include('../Navs/except') %>

        <%- include('../Navs/advert') %>
      <div class="container">
        <div class="row">   
                
        </div>
      </div>
        
            <%- include('../Navs/footer') %>

            



            <div class="mynav mt-5">
              <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar navbar-color">
                  <h1 class="white-text font-weight-bold">samdos express</h1>
                  <!-- <img src="stylesheets/img/samdos.jpeg" class="img-logo"> -->
                    <a class="navbar-brand" href="#"><strong class="mr-3 font-weight-bold"><span class="samdos"></span> 
                      <span class="redtext"></span></strong></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
                            <ul class="nav navbar-nav ml-auto smooth-scroll" style="font-size:14px;">
                          
                                    <li class="nav-item ">
                                      <a class="nav-link waves-effect waves-light active" href="/home"><i class="fa fa-home"></i>HOME
                                        <span class="sr-only">(current)</span>
                                      </a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link waves-effect waves-light" href="/error"><i class="fa fa-user"></i> BLOG</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link waves-effect waves-light" href="#advert"><i class="fa fa-desktop"></i>ADVERTS</a>
                                    </li>
                                    
                                    <!-- Dropdown -->
                                    <li class="nav-item dropdown">
                                      <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-book"></i>BOOKS</a>
                                      <div class="dropdown-menu dropdown-primary brown white-text" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item waves-effect waves-light disabled green-text font-weight-bold" href="#">CSC 337 Material Dr. Rahman</a>
                                        <a class="dropdown-item waves-effect waves-light green-text font-weight-bold" href="#">DR WUSU NUMERICAL ANALYSIS PDF MAT332</a>
                                       
                                      </div>
                                    </li>
                                    <li class="nav-item">
                                            <a class="nav-link waves-effect waves-light" href="/feedback"><i class="fa fa-fax"></i>FEEDBACK</a>
                                    </li>
                                    <li class="nav-item">
                                            <a class="nav-link waves-effect waves-light" href="/error"><i class="fa fa-search"></i>SEARCH</a>
                                    </li>
                                      
                              
                                  </ul>
                    </div>
                </nav>
          </div>
          
          
          
          

          <!DOCTYPE html>
<html lang="en">

  <%- include('../Navs/html') %>

<body>
    <!--Main Navigation-->
    <%- include('../Navs/navbar') %>
        <div class="row mb-5 wow bounceInDown" style="margin-top: 75px;">   
            <div class="col-md-12">
                <div class="jumbotron text-center white-text" style="background: rgb(59, 56, 56);">
                    <span class="display-2">SAMDOS EXPRESS</span><br>
                    <span class="h2">Creativity and Productivity is Our Passion and our Goal, <br>we provide deep insight into Computer Business and E-Marketing</span>
                </div>

            </div>          
    </div>
      
    <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <!-- Card -->
                            <div class="card">

                                    <!-- Card image -->
                                    <img class="card-img-top" src="stylesheets/img/samdsos.jpeg" class="img-fluid" height="100" alt="Card image cap">
                                
                                    <!-- Card content -->
                                    <div class="card-body">
                                
                                    <!-- Title -->
                                    <h4 class="card-title"><a>Card title</a></h4>
                                    <!-- Text -->
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <!-- Button -->
                                    <a href="#" class="btn btn-primary">Button</a>
                                
                                    </div>
                                
                                </div>
                                <!-- Card -->
                </div>
                <div class="col-md-5">
                    
                </div>
            </div>
        </div>
        

      

      
            <%- include('../Navs/footer') %>